/* aq iwyeba header */
header{
    width: 1140;
    margin:0 auto;
    background-color: #2A9D8F;
    padding-inline: 130px;
    padding-top: 38px;
    padding-bottom: 38px;
}
nav{
    display: inline;
}
.logo1{
    display: inline-block;
    padding-left: 130px;
    vertical-align: middle;
}
.list1{
    display: inline;
    padding-inline: 257px ;
    
}
.nav1{
    display: inline-block;
    margin-inline: 15px;    
}
.navigationtexts{
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    color: #FFFFFF;
}
.button1{
    color: #2A9D8F;
}
/* sruldeba header */